

    /* Add a red background color to the top navigation */
    .topnav {
    background-color: darkred;
    overflow: hidden;
    text-align:center;
    
    }

    /* Style the links inside the navigation bar */
    .topnav a {
    float: left;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    margin:0;
    display: inline-block;
    }

    /* Change the color of links on hover */
    .topnav a:hover {
    background-color: white;
    color: darkred;
    }

    /* Add a color to the active/current link */
    .topnav a.active {
    background-color: white;
    color:darkred;
    }

    .one{
        font-weight:bold;
        
    }

    